// .blast-table{
//     width: 80%;
//     text-align: center;
//     border-collapse: collapse;
//     td, th {
//         border: 1px solid #999;
//         padding: 0.2rem;
//     }
//     &-heading{
//         font-weight: bold;
//         text-transform: uppercase;

//     }
//     &-row{
//         border-bottom: 1px solid black;
//     }
// }

.btn-round{
    width: 2.5rem;
    height:2.5rem;
    border-radius: 50%;
    font-size: 1.5rem;
}

.blast-table-container{
    max-width: 100%;
    padding: 0rem 4rem;
}

.blast-heading{
    background-color: var(--color-1);
    &-top{
        padding: 2rem 2rem;
        position: sticky;
        position: -webkit-sticky;
        top:0px;
    }
}

.blast-subcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.blast-table{
    &-item{
        // background-color: #ffffff;
        // border: 1px solid #afafaf;
        font-size: 1.3rem;
        // border-radius: 1rem;
    }
    li {
        
        padding: 1.8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 2.2rem;
        color: var(--color-1)
    }

    &-heading{
        text-align: center;
        color: white;
        font-size: 1.1rem;
        text-transform: uppercase;

    }

    &-row{
        text-align: center;
    }
    &-index{
        flex-basis: 5%
    }
    &-germline{
        flex-basis: 5%;
    }
    &-seq{
        flex-basis: 35%;
    }
    &-percent{
        flex-basis: 10%;
        &-bold{
        font-weight: bold;
        }
    }
    &-evalue{
        flex-basis: 10%;
        &-bold{
            font-weight: bold;
        }
    }
    &-add{
        flex-basis: 10%;
    }
}