.metaview{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--color-1);

    &__container{
        width: 50%;
        background-color:var(--grey-1);
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: space-between;
        flex-wrap: wrap;
        &__sub{
            width: 100%;
            &__element{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
            }
        }
        &__element{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            white-space: initial;
            flex: 1;
        }
    }

    &__title{
        font-weight: bold;
        padding-right: 1.0rem;
        color: var(--color-1);

    }
    &__description{
        font-weight: 300;
        padding-right: 1.5rem;
        color: var(--color-1);

    }
}

.mv {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    &__container{
        display: flex ;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        background-color:var(--grey-1);
        height: 220px;
        padding: 10px;

    }
    &__item{
        height: 100%;
        width: 48%;
        display: flex;
        align-content: stretch;
        flex-direction: column;
        padding: 10px;
    }
    &__line{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px dashed var(--color-1);
        
        &__title{
            color: var(--color-1);
            font-weight: bold;
            text-align: left;
            align-self: flex-start;
        }
        &__description{
            color: var(--color-1);
            text-align: right;
            align-self: flex-start;
        }

    }
}

.mv-sequence {

}
.mv-residue{

}
.mv-length{

}
.mv-region{

}

@media all and (max-width: 1000px) {
    .mv__container {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
      height: 35vh;
    }
    .mv__item{
        width: 100%;
        display: flex;
        align-content: stretch;
        flex-direction: column;
        padding: 10px;
    }
  }