.MuiStepIcon-active {
    circle {
        fill: var(--color-1);
        width: 8px !important;
        height: 8px !important;
    }
    
}

.MuiStepIcon-root{
    width: 2rem !important;
    height: 2rem !important;
}


.MuiStepIcon-root.MuiStepIcon-completed {
    color: var(--color-1) !important;

}

.MuiStepLabel-active{
    color: var(--color-1) !important;
}

.MuiStepLabel-completed{
    color: var(--color-1) !important;
}