.backmutation-container{

}
.bmt-table{
    font-size: 0.7rem;
    tr{
        max-width: 100%;
    }
    td{
        max-width:13px;
        padding:1.5px;
        text-align: center;
    box-sizing: border-box;
border: none;    }
}