////////////////////////////// CONTAINER ////////////////////

.contentContainer {
    width:100%;
    padding: 0 2rem;
}

////////////////////////////// BUTTON ////////////////////

/* General button style */
/* General button style */
.btn {
    border: 1px solid var(--color-1);
    border-radius: 5px;
	font-family: 'Lato';
	font-size: inherit;
	color: var(--color-1);
	background-color: white;
	cursor: pointer;
	padding: 15px;
	display: inline-block;
	margin: 10px 0px;;
	text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
	font-weight: 700;
    outline: none;
    float: right;
    transition: all .2s;
    &:hover{
     color:white;
     background-color: var(--color-1);
    }
}

////////////////////////////// RESULTS ////////////////////
.result{
    &__box {
        width: 100%;
        background-color: #f6f6f6;
        min-height: 100px;
        border: 2px solid #999;
        padding: 1rem;
    }
    &__title{
        font-size: 1.7rem;
        font-family: "Monserrat", sans-serif;
        font-weight: 500;
        padding-bottom: 5px;
        border-bottom: 2px solid black;

    }
    &__list{
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
    }
    &__item{
        width: 2.5rem;
        border: 1px solid #000;
        text-align: center;
        margin-top: 20px;
        background-color: white;
        font-family: "Monserrat", sans-serif;
        font-weight: 300;
        color: var(--grey-2)
        &__aa{
            font-style:500;
        }

    }

}

////////////////////////////// PROGRESSBAR ////////////////////
.MuiStepIcon-active {
    circle {
        fill: var(--color-1);   
    }
    
}

.MuiStepIcon-root.MuiStepIcon-completed {
    color: var(--color-1) !important; 
}

////////////////////////////// SPINNER ////////////////////

.image-cropper {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%; }
  
  .img-loader {
    display: inline;
    margin: 30% auto;
    height: 40%;
    background-color: transparent;
    border-radius: 50%;
    animation: spin 1.5s ease-in-out infinite; }

      
  @keyframes spin {
    from {
      transform: rotate(0deg); }
    to {
      transform: rotate(360deg); } }

///////////////////////////// SEARCH ////////////////////

.searchContainer {
    max-width: 1500px;
    margin: 20px 0;
}

.searchInput {
    width: 100%;
    min-width: 250px;
}