

.loader-container{
  width: 100%;
  text-align: center;
}

.loader-box{
  display: flex;
  margin:3rem auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:6.5rem;
  height:6.5rem;
  padding: 1rem;
  background-color: transparent;
}

.loader-cropper {
    
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%; }
  
  .loader {
    display: inline;
    height: 100%;
    background-color: transparent;
    animation: spin 1.5s ease-in-out infinite; }

  .loader-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    color: var(--color-1);
    text-align: center;
    padding: 0.2rem;
    margin-top: 1rem;

  }
  @keyframes spin {
    from {
      transform: rotate(0deg); }
    to {
      transform: rotate(360deg); } }
