* {
    padding:0;
    margin: 0;
  }
  
*,
*::before,
*::after {
    box-sizing: border-box;
}

  html {
    box-sizing:  border-box;
  }

  :root{
    --color-1: #004777;//#2E4053
    --color-2: #DAF7A6;
    --color-3: #FFC300;
    --color-4: #FF5733;
    --color-5: #C70039;
    --color-6: #900C3F;
    --grey-1: 	rgb(225, 225, 225);
    --grey-2: #484848;
    --grey-3: #404040;

  }

  body{
    //   background-image: linear-gradient(to right bottom, #fff, var(--color-primary));
    //   background-repeat: no-repeat;  
    line-height: 1.6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    min-height: 100vh;
    }

  .content {
    width: 100%;
  }
