
.settings {
    background-color:var(--grey-1);
    width: 100%;
    padding: 10px;
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &__item{
        align-self: center;

        &__select{
            margin: 5px 5px;
            padding: 5px;
            appearance: none;
            border: none;
            width:8rem;
            min-width: 30px;
            height: 30px;
            color: #000;
            font-family: 'Monserrat', sans-serif;
            font-size: 16px;
            border-radius: 3px;
            background-color: #f4f4f4;

            outline: none;
            option {
                color: #666;
            }
        }

        &__title{
            margin: 0 5px;
            font-family: "Monserrat", sans-serif;
        }

        
        &__label{
            width:100%;
            justify-content: space-between;
        }

        &__input{
            appearance: none;
            box-shadow: none;
            font-family: 'Monserrat', sans-serif;
            margin: 5px;
            height: 30px;
            max-width: 50px;
            font-size: 16px;
            background-color: #f4f4f4;
            outline: none;
            padding: 5px;
            text-align: center;

        }
    }


}

// .slider-item{
//     align-self: baseline;
//     flex: 2 0px;
// }